/* styles.css */

body {
  background-color: beige;
}

div {
    color: white;
    background-color: black;
  }
p {
  font-family: "Helvetica";
}
a {
  font-family: "Helvetica";
}
ul {
  font-family: "Helvetica"
}
header {
    color: rgb(120, 120, 255);
    font-family: "Helvetica";
}
